<style>
  #map {
    height: 500px;
    width: 100%;
  }
</style>

<h1>My view</h1>

<div id="map"></div>

{{!-- MINHA CHAVE --}}
{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiDRrzzz-Elwwd1TXQ7c5E0RqPKFuAoXM
"></script> --}}

{{!-- CHAVE DO PROFESSOR --}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYNM2RPXaO0_eHKAK8Llnv_E2MwebLgec
"></script>

<script type="text/javascript" src="/javascripts/mainMap.js"></script>